.App {}

button {
  /* padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent; */
  /* отображаем курсор в виде руки при наведении; некоторые
  считают, что необходимо оставлять стрелочный вид для кнопок */
  /* cursor: pointer; */
}

body {
  font-family: gothampro;
  font-size: 20px;
}

p {
  /* max-width: 1024px; */
  width: 100%;
  word-break: break-word;
}

img {
  /* width: 100%; */

  max-width: 100%;



}

.menu_img {
  max-width: 3rem;
  width: 100%;
}

.image-uploading img {
  filter: blur(0px) !important;
  opacity: 1 !important;
}

.image-uploading::before {
  display: none;
}

.main_container {
  margin-right: 3.125rem;
  margin-left: 3.125rem;
}

.section_name_add-article {
  margin-top: 1.87rem;
}

.sections_container-articles_name {
  margin-bottom: 36px !important;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.login_page {
  background-color: #002456;
  background-image: url("/public/bgLoginPage.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;


}

.login_page_logo {
  margin-top: 50px;
}

.main_page_logo {
  margin-top: 3.125rem;
  margin-bottom: 1.125rem;
}

.main_page_title_text {
  font-family: gothampro;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2.18rem;
  margin-left: 4.87rem;

}

.login_form {
  padding-left: 60px;
  padding-top: 40px;
  padding-right: 60px;
  padding-bottom: 45px;
  background-color: #fff;
  border-radius: 15px;
  margin-top: 9.75rem;

}

.login_form_title {
  font-family: gothampro;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 60px;
}

.select_button {
  border: 0;
  border-radius: 5px;
  background-color: #DDF0FC;
  color: #525252;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
  max-width: 257px;
  width: 100%;
  text-indent: 15px;
  font-family: gothampro;

}

.select_button_password_margin {
  margin-top: 36px;
  margin-bottom: 36px;
}

.form_button_submit {

  background-color: #4A7BAB;
  color: #fff;
  font-weight: normal;
  font-style: 16px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 103px;
  padding-right: 103px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.modal_alert-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 37.5rem;
  width: 100%;
  background-color: #D0E5FD;
  text-align: center;

}

.modal-actions_buttons {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #79A0CC;
  font-family: gothampro;
}

.modal_alert-text {
  font-size: 40px;
  font-family: gothampro;
  margin-top: 3.75rem;
}

.modal-actions_buttons_red {
  background-color: #FA9191;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-left: 7.5rem;
  margin-right: 7.5rem;
  margin-top: 2.65rem;
  margin-bottom: 3.75rem;
}

.form_button_submit:hover {
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}


.button_body {
  background-color: #355E8B;
  cursor: pointer;
  max-width: 15.3rem;
  height: 5.8rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.18rem;
  overflow: hidden;
  border: none;


}

.active {
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25) !important;
  transition: 0.5s;

}

.section_plus {
  background-image: url("/public/note-favorite.svg");
  max-width: 48px;
  height: 48px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}


.button_body:hover {
  box-shadow: inset 2px -1px 8px 10px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s;

}



.button_text {
  white-space: nowrap;
  padding-top: 10px;
  color: #fff;
  font-family: gothampro;
  font-weight: light;
  font-size: 16px;
  text-overflow: ellipsis;
  max-width: 10rem;
  overflow: hidden;



}

.modal-background {
  width: 100%;
  height: 100%;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  border: 1px solid black;
  padding: 20px;
  height: 100%;
  width: 100%;
  z-index: 201;
}

.form_modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 66.128rem;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.form_title {
  font-family: gothampro;
  font-size: 20px;
  color: #000;
  font-weight: normal;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal_form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form_button_container {
  max-width: 245px;
  width: 100%;
}

.form_button {
  font-family: gothampro;
  text-decoration: none;
  border: none;
  background-color: #79A0CC;
  color: #000;
  font-size: 20px;
  max-width: 245px;
  width: 100%;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_page_container {
  padding-right: 3.12rem;
  padding-left: 3.12rem;
  padding-top: 3.12rem;
}

.main_page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.main_page_container_custom {
  display: flex;
  flex-direction: row;

}

.menu_container {
  display: flex;
  flex-direction: row;
  margin-top: 3.12rem;
}

.menu_container_right {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sections_container {
  display: flex;
  flex-direction: column;

  width: 17.75rem;

  /* margin-top: 10.81rem; */
  margin-bottom: 30px;
}

.subsection_button_content {
  display: flex;
  width: 100%;
}




.subsections_container {

  width: 100%;
  margin-bottom: 30px;


}

.section_button_content {
  display: flex;
  justify-content: start;
}

.article_container {
  /* margin-left: 50px; */
  width: 100%;
  display: flex;
  /* margin-top: 10.81rem; */
  flex-direction: row;


  background-color: #D0E5FD
}

.menu_container_left {
  max-width: 245px;
  width: 100%;
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.article_button_container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout_button {
  width: 100px;
  height: 20px;
  align-items: center;
  margin-top: 20px;
  background-color: #355E8B !important;
}

.logout_button:hover {
  box-shadow: inset 2px -1px 8px 10px rgba(0, 0, 0, 0.25) !important;
  transition: box-shadow 0.5s;
}

.logout_button_text {
  margin: auto;
  color: #FFF;
}

.section_button {
  position: relative;
  width: 17.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #79A0CC;
  cursor: pointer;
}

.button_delete-container {
  position: absolute;
  top: 5px;
  left: 5px;
}

.depart_list-block {
  margin-bottom: 25px;
}

.header_service-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_menu_label_name {
  padding-bottom: 14px;
  padding-top: 20px;
}

.form_menu_input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  margin-top: 10px;


}

.form_menu_input-image_add {
  display: none;
}

.form_menu_label_img {
  max-width: 28px;
  width: 100%;

  height: 28px;
}

.form_menu_label_img-container {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;

  height: 28px;
  display: flex;
  flex-direction: row !important;
}

.form_menu_label_img-text {
  margin-left: 8px;
}

.form_menu_input-image {
  background-image: url("../public/imageadd.svg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 28px;
  width: 100%;
  max-height: 28px;
  height: 100%;
}

.button_update-container {
  position: absolute;

  top: 0;
  left: 5px;
  transform: translate(0, 50%);
}

.menu_item {
  position: relative;

}

.form_menu_label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit_menu_button_container {
  width: 100%;
  max-width: 24px;
  height: 24px;
  position: absolute;
  top: 5px;
  right: 5px;

}

figure {
  width: 200px;
  margin: 0;
}

.edit_menu_button {
  max-width: 28px;
  width: 100%;
  max-height: 28px;
  height: 100%;
  cursor: cell;
  background-image: url("../public/editico.svg");
  background-repeat: no-repeat;
}

.rdw-image-center {
  justify-content: flex-start !important;
}







.section_button_add {
  padding-left: 40px;
  /* margin-top: 25px; */
  background-image: url("../public/add-square.svg");
  background-repeat: no-repeat;
  background-position: 95%;
  width: 15.31rem;


}

.section_button:hover {
  box-shadow: inset 2px -1px 8px 10px rgba(0, 0, 0, 0.25) !important;
  transition: 0.5s;
}

.section_img_container {
  /* margin-left: 1.68rem;
  margin-right: 1.68rem; */
  width: 40px;
}

.section_button_container {
  display: flex;
  flex-direction: row;
}

.section_button_edit {

  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  width: 24px;
  height: 24px;

}

.edit_menu_button-black {
  background-image: url("../public/editblack.svg");
  background-size: contain;
  background-position: center;
  width: 28px;
  height: 28px;
}

.article_content {
  position: relative;
  padding-left: 1.06rem;
  padding-right: 10px;
}

.add_files {
  max-width: 28px !important;
  max-height: 28px !important;

}

.form_modal-buttons_container {
  display: flex;
  flex-direction: column;
}

.form_menu_input-download_file {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.file_name-download {
  cursor: pointer;
  font-style: italic;
  display: inline-block;
  margin-bottom: 10px;
}

.files_container {
  padding-left: 20px;
  padding-right: 20px;
}

.add_files-button {
  width: 28px;
  height: 28px;
  background-image: url("../public/imageadd.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.article_service-buttons {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

/* .delete_button {
  position: absolute !important;
  top: 0px;
  right: -10px;
  z-index: 100 !important;
} */

.delete_button-menu {
  position: absolute !important;
  top: 5px !important;
  left: 5px;
}

.cl-btn-4 {
  width: 25px;
  height: 25px;
  box-shadow: 0px 10 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #131111;

  position: relative;
  display: block;
  z-index: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.section_name {
  max-width: 200px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subsection_name {
  width: 100%;


  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.section_img_container-articles {
  width: 0px;
  padding-left: 8px;
  padding-right: 8px;
}

.error_message {
  text-align: center;
  background-color: red;
  color: #fff;
}

.container_position_col {
  display: flex;
  flex-direction: column;

}

.section_img {
  max-width: 25px;
  width: 100%;
  padding-left: 5px;
}

.error-message {
  background-color: red;
  text-align: center;
  color: #fff;
  margin-bottom: 10px;

}

.edit_editor-article-container {
  width: 30px;
  height: 24px;


}

.article_content_text {}

.article_name-input {}

.button_article-editor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.container_position_col-sub {
  margin-left: 30px;
  margin-right: 30px;
}

.cl-btn-4:before,
.cl-btn-4:after {
  content: '';
  width: 80%;
  height: 6px;
  background: #BFE2FF;
  position: absolute;
  top: 40%;
  left: 10%;
  transform: rotate(45deg);
  transition: all 0.3s ease-out;
}

.cl-btn-4:after {
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}

.cl-btn-4:hover:before,
.cl-btn-4:hover:after {
  transform: rotate(180deg);
  background: #FFF;

}

@media (max-width:1098px) {
  .form_modal {
    max-width: 60rem;
    width: 100%;
    margin-right: 30px;

  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}